body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('./assets/SpaceBackground.png');
  background-size: 90px 90px;
  background-repeat: repeat;
  overflow: hidden;
   @media only screen and (max-width: 500px) {
    overflow: hidden;
  }
}
  
